<div class="container">
    <h4 class="text-primary">Our Story</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan
        sit amet sem ut commodo. Nulla facilisi. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas. Nam vel
        tincidunt tortor. Cras semper diam ut ante porta.
    </p>

    <hr />

    <h4 class="text-success">Suppliers</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan
        sit amet sem ut commodo. Nulla facilisi. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas. Nam vel
        tincidunt tortor. Cras semper diam ut ante porta.
    </p>
</div>