<div class="cart-item">
    <div class="row">
        <div class="col-4 pt-2">
            <span>{{cartItem.name}}</span>
        </div>
        <div class="col-1 pt-2">X</div>
        <div class="col-1 pt-2">
            <span>{{cartItem.quantity}}</span>
        </div>
        <div class="col-1 pt-2">=</div>
        <div class="col-3 pt-2">
            <strong>{{ (cartItem.quantity * cartItem.price) | currency:'USD'}}</strong>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-info" (click)="deleteItem()">X</button>
        </div>
    </div>
</div>