// Variables

// Site colors
$backColor: #f8f9fb;

$primaryColor: #041E42;
$primaryLightColor: #0071DC;

$secondaryColor: #ffc220;
$SecondaryLightColor: #fced70;

$fontColor: #000;
$fontLightColor: #7e7f82;

$warning: #dc3545;

